.navbar{
    background-color: #F5CE9A;
}
.btn-primary-nav{
    background-color: #6D7E9A;
    border-color: #6D7E9A;
    color: white
}
.btn-primary-nav:hover{
    background-color: #B87E93;
    border-color: #B87E93;
    color: white
}

.btn-primary-nav:active{
    background-color: #B87E93;
    border-color: #B87E93;
    color: white
}

.btn-primary-nav:focus{
    background-color: #6D7E9A;
    border-color: #6D7E9A;
    color: white
}