
.btn-schuddle{
  background-color: #1367ED;
  border-color: #1367ED;
  color: white
}
.btn-schuddle:hover{
  background-color: #E1B393;
  border-color: #E1B393;
  color: white
}

.btn-schuddle:active{
  background-color: #E3946E;
  border-color: #E3946E;
  color: white
}

.btn-schuddle:focus{
  background-color: #6D7E9A;
  border-color: #6D7E9A;
  color: white
}

h2.agendar-visita{
  font-weight: 700;
}



.btn-agendar-visita{
  background-color: #7AB0B2;
  border-color: #7AB0B2;
  color: black;

}
.btn-agendar-visita:hover{
  background-color: #2b585a;
  border-color: #2b585a;
  color: white;

}

.btn-agendar-visita:active{
  background-color: #7AB0B2;
  border-color: #7AB0B2;
  color: black;
}

.btn-agendar-visita:focus{
  background-color: #7AB0B2;
  border-color: #7AB0B2;
  color: black;
}